<% include ../partials/header %>


<body class="pageForm">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div id="formDiv">
          
           <h1 style="text-align: center">Edit comment</h1>
                  <form action = "/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method = "POST" autocomplete="off">
                    
                   <br>
                    
                    <div class="input-group form-group">
                      <label for = "textContent">Comment Text:</label>
                        <div class = "input-group addon">
                          <span class="input-group-addon"><i class="fa fa-comments-o fa-fw" aria-hidden="true"></i></span>
                          <input class="form-control" type = "text" name = "comment[text]" value = "<%= comment.text %>">
                        </div>
                    </div> 
               
                     <div class = "form-group text-center">
                       <button class = "btn btn-lg btn-primary"> SUBMIT! </button>
                     </div>
                    
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <p> 
                          <a href="/campgrounds"> Go to Campgrounds Page! </a>
                        </p>
                    </div>
                    
                </form>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>


<% include ../partials/footer %>

