<% include ./partials/header %>

<body class="pageForm"> 

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div id="formDiv">
          
          <div class="col-md-12 formContent">
            <legend>Contact Me</legend>
           <form action="/contact" method="POST" autocomplete="off">

              <div class="input-group form-group">
                      <label for = "username">User Name</label>
                        <div class = "input-group addon">
                          <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                          <input class="form-control" type = "text" name = "username" value="<%= currentUser.username %>" required>
                        </div>
               </div> 
               
               <div class="input-group form-group">
                      <label for = "msg">Message</label>
                        <div class = "input-group addon">
                          <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
                           <textarea class="form-control" name="msg" id ="msg" rows="3" placeholder="Feedback Message" required></textarea>
                        </div>
               </div>
              
              <br>
              <div class="form-group text-center">
                <button class="btn btn-lg btn-primary">Submit</button>
              </div>
            
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

<% include ./partials/footer %>