<% include ./partials/header %>

<body class="pageForm"> 

<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div id="formDiv">
          <div class="col-md-6 imageForm">
            <img src="https://image.freepik.com/free-vector/mountain-landscape-with-tourist-on-foreground_1441-60.jpg" style = "padding: 6vw 0;">
          </div>

          <div class="col-md-6 formContent">
            <h1 id="title">Sign Up</h1>
            <form action="/register" method="post" autocomplete="off">

              
              <div class="form-group">
                  <label for="userName">Username</label>
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                      <input class="form-control" type="text" placeholder="username" name="username">
                    </div>
                  </div>
              </div>
              
              <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                      <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                  </div>
              </div>
              
              <div class="form-group">
                  <label for="firstName">Name</label>
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                      <input class="form-control" type="text" placeholder="full name" name="firstName">
                    </div>
                  </div>
              </div>
              
              
              <div class="form-group">
                  <label for="email">E-Mail</label>
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                      <input class="form-control" type="email" placeholder="email" name="email">
                    </div>
                  </div>
              </div>
              
              <div class="form-group">
                  <label for="adminCode">Admin Code*</label>
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon"><i class="fa fa-exclamation fa-fw"></i></span>
                      <input class="form-control" type="password" placeholder="admin code" name="adminCode" aria-labelledby="expLabel expDesc">
                    </div> 
                       <span id="expDesc" tabindex="-1" style = "color:#333; font-size:10px; font-weight:600;">(*Can be left blank)</span>
                    
                  </div>
              </div>

              <div class="form-group text-center">
                <button class="btn btn-lg btn-primary">Sign Up!</button>
              </div>

              <div class="hr"></div>
              <div class="foot-lnk">
                <p> Already a member?
                  <a href="/login" style = "color:#337ab7;"> Login </a>
                </p>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
    
<% include ./partials/footer %>