.flex{
    display: flex; 
    flex-wrap: wrap;
}

.delete-form{
    display: inline;
}


html {
  position: relative;
  min-height: 100%;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a{
    font-weight: 200;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #DDD;
}

.navbar-inverse .navbar-nav .active a:hover {
    color: #DDD;
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #e4e9ed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lead {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: -.1em;
    color: #555;
}

hr {
    border-color: #C0CFCF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.indexJumbo {
    background-color: rgba(16, 16, 16, 0.92); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    color: white;
    text-align: center;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2),
				 0px 6px 8px rgba(0,0,0,0.1),
				 0px 10px 15px rgba(0,0,0,0.1);
}

.pageForm {
    background: url(https://image.freepik.com/free-vector/adventure-accessories-pattern_1061-502.jpg);
}

.imageForm img {
  width: 100%;
}

#title{
  text-align: center;
  padding-top: 0px;
}

.hr{
	height:2px;
	margin:30px 0 20px 0;
	background:rgba(0,0,0,.2);
}

.hrShow{
	height:2px;
	margin:7px 0 7px 0;
	background:rgba(0,0,0,.1);
}

.hrComment{
	height:1px;
	margin:2px 0 2px 0;
}

.foot-lnk{
	text-align:center;
}

#formDiv {
  margin: 30px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.78);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}


.alert{
    position:fixed;
    left: 280px;
    width: 60%;
    z-index:9999; 
}

/* Thumbnail styles */
.thumbnail img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#indexImg {
  height: 180px;
}
.thumbnail {
    padding: 0;
    border: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2),
				 0px 6px 8px rgba(0,0,0,0.1),
				 0px 10px 15px rgba(0,0,0,0.1);
	background-color: #FCFCFF;
}
.thumbnail .caption-full {
    padding: 10px;
}



/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}
